<div class="dodai">
        <div class="yohaku2">
          <h2 class="gati">親孝行を考えている方へのWebサービス</h2>
            <div id="gawaku">
              <p class="gai_ti">大人になって、親の有り難みを改めて感じた方へ</p>
              <p class="gaiyou">感謝の気持ちを伝えたいが、どうやって伝えようか悩んだことはありませんか？<br>
              当サイトでは、そんな方々へ親孝行のキッカケを提供するソーシャルネットワークサービス形式のWebサービスです。<br>
              サービスの利用者は、自分が行った親孝行を投稿することで、他のユーザと共有することが出来ます。<br></p>
            </div>
        </div>
      </div>
<div class="clear"></div>