<div class="dodai">
  <div class="yohaku2">
    <h2 class="gati">親孝行を考えている方へのWebサービス</h2>
      <div id="gawaku">
        <p class="gai_ti">大人になって、親の有り難みを改めて感じた方へ</p>
        <p class="gaiyou">
        —今まで育ててくれてありがとう。<br>
        この感謝の気持ちをどうやって伝えようか悩んだことはありませんか？<br>
        当サイトでは、そういう方々へ親孝行のキッカケを提供するソーシャルネットワークサービス形式のWebサービスです。<br>
        </p>
      </div>
      <h2 class="gati">親こうfo<p style="color:#aaa;display:inline;">u</p>rの流れ</h2>
      <div id="gawaku">
        <div class="gaiyou">親こうfourでは、「<p style="color:#e55;display:inline;">考</p>える」「<p style="color:#e55;display:inline;">孝行</p>する」「投<p style="color:#e55;display:inline;">稿</p>する」という3つのプロセスを通ることになるのが特徴です。<br>
        これらの言葉にある4つ<p style="color:#ea9aba;display:inline;">(four)</p>の「<p style="color:#e55;display:inline;">こう</p>」と、
        「親のための<p style="color:#ea9aba;display:inline;">(for)</p>孝行」が当サイトの軸となっています。<br>
        <br>
        </div>


        <img src="images/kou.png" width="300"><br><br>

<h3 class="gai_ti">考える</h3>
<p class="gaiyou">「みんなの投稿」を見て、他のユーザーがどんな親孝行をしているのか参考にして、自分のやりたい親孝行や、親が喜んでくれそうな親孝行を考えてみましょう。ユーザーの投稿だけでなく、運営側からもおすすめの親孝行を紹介する記事を提供するので、きっと自分に合った親孝行を見つけられるはずです。<br><br></p>

<h3 class="gai_ti">孝行する</h3>
<p class="gaiyou">あなたが親に感謝を込めて行う親孝行です。親孝行をしたらそこで終わらず、自分が何をしたか、親はどんな反応だったかなどを親孝行に悩んでいる他のユーザーに教えることができます。それによって、次に自分がする親孝行のアイデアが浮かぶキッカケに繋がるかもしれませんよ！<br><br></p>

<h3 class="gai_ti">投稿する</h3>
<p class="gaiyou">記事を投稿する事によって、自分で行った親孝行の紹介や、親孝行のことで悩んでいることを質問・相談することができます。<br>
親孝行を紹介した人は、他のユーザーからコメントをもらうことができ、次の親孝行の参考にする事ができます。<br>
質問・相談をした人は、他のユーザーからアドバイスをもらったらどんな親孝行をするか考えて、さっそく親孝行をしてみましょう！<br>
        </p>
      </div>


  </div>
</div>
<div class="clear"></div>
