<div class="dodai">
				<div class="yohaku">
					<h2 class="top_title">ヘルプ</h2>
					<h2 class="help_title">よくある質問</h2>
					<h3 class="Q">Q.アカウントの作り方がわかりません。</h3>
					<p class="A">A.トップページのログイン画面の下に、新規登録のリンクが貼ってありますのでそちらからご登録をお願いします。</p>
					<h3 class="Q">Q.アカウントが登録できません。</h3>
					<p class="A">A.赤字で表示されているエラー内容をご確認ください。<br>
　○予想される原因<br>
　　-ニックネームを英数字以外で入力していませんか。<br>
　　-パスワードとパスワード確認が間違っていませんか。<br>
　　-文字数制限を守っていますか（ニックネーム：3～8文字以内、パスワード4文字以上）<br>
　　-すでに登録されているニックネームと重複している場合は新規登録できません。<br>
　◯上記に該当しない場合は、ページ下部のメールアドレスよりお問い合わせ下さい。<br>
</p>
					<h3 class="Q">Q.パスワードの変更</h3>
					<p class="A">A.マイページで変更することができます。</p>
					
					<h3 class="Q">Q.ニックネーム、パスワードを忘れた場合</h3>
					<p class="A">A.申し訳ありませんが新たにアカウントをお作り頂くか、 ページ下部のメールアドレスよりお問い合わせ下さい。</p>
					
					<h3 class="Q">Q.オススメ記事とはなんですか？</h3>
					<p class="A">A.マイページのプロフィール登録情報を参考に、あなたと似た条件の人の記事を表示します。</p>
					<h3 class="Q">Q.質問の投稿の仕方が分からない</h3>
					<p class="A">A.PCより閲覧の場合、記事投稿ページの右上に記事内容を選択する項目があります。
　　タグの質問項目にチェックし、投稿して下さい。
　　携帯から閲覧されている場合は、記事編集画面の下部に項目を選択するタグがございます。</p>
					
					<h2 class="help_title">お問い合わせ</h2>
					<p class="A">お問い合わせはoyakoufour@gmail.comまで</p>
				</div>
			</div>
<div class="clear"></div>