<div class="dodai">
  <div class="yohaku2">
  <textarea rows="50" style="font-size: 14px">
  「親こうfour」は、2015山下プロジェクトの成果物として、2016年1月22日まで、試験的に設置しているウェブサイトです。ウェブサービスとしての本格運用は予定しておりません。
  プロジェクトのコンセプトをこのサービスで実現可能かどうか、短期間ではありますが、確認したいと思っています。みなさまのご参加、ご協力をお願いいたします。


◯よくある質問

＊アカウント情報
　Q.アカウントの作り方が分かりません。
　A.トップページのログイン画面の下に、新規登録のリンクが貼ってありますのでそちらからご登録をお願いします。

　Q.アカウントが登録できません。
　A.赤字で表示されているエラー内容をご確認ください。
　　 予想される原因
　　　　-ニックネームを英数字以外で入力していませんか。
　  　　 -パスワードとパスワード確認が間違っていませんか。
　　　　-文字数制限を守っていますか（ニックネーム：3～8文字以内、パスワード4文字以上）
　　　　-すでに登録されているニックネームと重複している場合は新規登録できません。
　 ◯ 上記に該当しない場合は、ページ下部のメールアドレスよりお問い合わせ下さい。

　Q.パスワードを変更したいのですが。
　A.マイページでパスワードを変更することが出来ます。

    Q.新規登録ではアイコン画像が登録できないのですが。
    A. アカウント作成後、マイページのプロフィール編集で登録してください。

　Q.ニックネーム、パスワードを忘れた場合、どうすればいいですか？
　A.申し訳ありませんが、新たにアカウントをお作りください。
　　　　　　　　　　or
     ◯ ページ下部のメールアドレスよりお問い合わせ下さい。

＊記事その他？
　Q.オススメ記事とはなんですか？
　A.マイページの登録情報を参考に、あなたと似た条件の人の記事を表示します。


＊投稿
　Q.質問の投稿の仕方が分からない
　A.PCより閲覧の場合、記事投稿ページの右上に記事内容を選択する項目があります。
　　タグの質問項目にチェックし、投稿して下さい。
　　携帯から閲覧の場合は、記事編集画面の下部に項目を選択するタグがあります。

＊サイト内コンテンツについて
  試験運用のサイトですので、やむをえずサーバーをリセットしたり、コンテンツを削除する場合があります。また、書き込まれた内容に問題があると判断した場合は、書き込んだ方の了解を得ずに削除する場合があります。
  書き込まれた文章や画像の著作権や肖像権について、2015山下プロジェクトでは責任を負いかねます。書き込む際は、各自の良識に従って書き込みをお願いいたします。


お問い合わせ
　メールアドレス  oyakoufour@gmail.com 
</textarea>
</div>
</div>





---------------------------------------------------------------------