


<div class="dodai">
  <div class="touko">
    <h2>みんなの投稿</h2>
    <% @essays.each do |essay| %>
    <%= link_to essay.title, essay %>
    <% end %>
  </div>
  <div class="tokusyu">
    <h2>特集</h2>
    <div class="toku">
      <% @posts.each do |post| %>
      <p><%= post.content %></p>
      <% end %>
    </div>
  </div>
</div>
<div class="clear"></div>
