<div class="dodai">
  <div class="yohaku2">

	<div id="back_re">
		<h4 id="sub_title_re">ー思い出を使って「ありがとう」を伝えるアプリー</h4>
		<img src="images/restack_title.png" id="title_img">
		<p>“大人”になったあなたへ<br>
｢親孝行をしたい」「今までの感謝を伝えたい｣と考えたことはありませんか？<br>
Re:STACKはその想いを、今までの『思い出』を使って親に伝えることができます。</p>
<h1>コンセプト</h1>
<p>親孝行は1回きりで終わるものではありません。<br>
	継続していくことこそが一番大事なことであると私たちは考えます。<br>
	よって、Re:STACKはあくまで「親孝行のキッカケ」であり、このツールを使わなくても、感謝を伝えられるようになってくれることが私たちの願いです。</p>
<h1>アプリについて</h1>
<p>Re:STACKでは、親と共有しながら親孝行できるAタイプと、親にサプライズとして贈ることが出来るBタイプがあります。どちらも共通して、<br>
・今まで積み重ねてきた思い出ひとつひとつを画像と文字で表す<br>
・最終的にひとつの感謝の形をコラージュとして贈る<br>
・デジタルなモノなので、親の操作は簡単に<br>
・感謝を伝えることが大事なため、想いを込める<br>
という特徴があります。</p>


<h1>使い方</h1>

<div id="type_A_re">
<h3 class="sub_title1_re">Aタイプ</h3>
<p class="left_re">・アプリ内で鉛筆・消しゴム・スタンプを用いて一から自分の絵を作ります(画像も可能<br><br>
・作成した絵に合わせて文字を打ち、絵日記を作ります。<br><br>
・絵日記をURLで親に送信することが出来ます。<br><br>
・親は絵日記に対してスタンプや文字で反応することが出来ます。<br>
　※強制ではありません<br><br>
</p>
<div class="r_re">
	<img src="images/type_A-2.png" class="type_photo_re">
</div>
<p class="left_re">
 ・今まで作った絵日記が見ることができ、親から返信があったものはひと目で分かるようになっています。<br><br>
・最終的なコラージュを選び、決まったら絵日記がコラージュをどのくらい埋めたかわかるようになっています。<br>
　全て埋まったらコラージュの完成です。<br><br></p>
<div class="r_re">
	<img src="images/type_A-3.png" class="type_photo_re">
</div>
<p class="left_re">
・絵日記をタップすることで一つずつ見ることができます。<br><br>
・完成したコラージュを親に送ることが出来ます。<br><br>

(ゴール)<br>
・想定としては作成に一ヶ月以上かかってしまうのですが、想いのこもったものが完成すると思います。</p>
<div class="r_re">
	<img src="images/type_A-1.png" class="type_photo_re">
</div>
</div>




<div id="type_B_re">
<h3 class="sub_title2_re">Bタイプ</h3>
<p class="left_re">・画像を選択し、テキスト入力を行う。（画像はテンプレあり）<br><br>
・それらを複数合わせコラージュ画像を作る。<br><br>
・コラージュに使用した写真の枚数にあったフレームの形をする。<br><br>
</p>
<div class="r_re">
	<img src="images/type_B-1.png" class="type_photo_re">
</div>
<p class="left_re">
・フレームにおさめた写真の位置変更を行う。<br><br>
・納得のいく配置に設定したら完成。<br><br>
・完成画面からコラージュ画像へのリンクをメールやLINEで送ることができる。<br><br>
・親はリンクからすぐにコラージュ画像の完成系を見ることができる。<br><br>
・コラージュ画像の完成系はメッセージは表示されておらず、写真が閲覧できる。<br><br>
</p>
<div class="r_re">
	<img src="images/type_B-2.png" class="type_photo_re">
</div>
<p class="left_re">
・ひとつの画像をタップすることで画像が元サイズで表示され、メッセージも表示される。<br><br>
・コラージュ写真選択「追加」では過去今未来を選択する<br><br>
・コラージュ画面では上から過去今未来と並べられる<br>
　（過去が一つ追加されてたら　<br>
　　過去　過去　今　未来　になる<br><br>

(ゴール)<br>
・一人で完成させて送るため自分のペースでできる。また、サプライズ性がある。</p>
<div class="r_re">
	<img src="images/type_B-3.png" class="type_photo_re">
</div>
</div>
	</div>
</div>
	</div>
	<div class="clear"></div>
