

html{
    height: 100%;
}
body {
	color:#777;
	background-image:url("https://mb.api.cloud.nifty.com/2013-09-01/applications/rW8gZ3VOkDFbmMtk/publicFiles/test.png");
	height: 100%;
	font-family: 'Hiragino Maru Gothic Pro', sans-serif;
}
.pageti{
	margin:0;
}

#tou1 a:link,#tou2 a:link,#tou3 a:link,#tou4 a:link,situ a:link,.minato_new_ko a:link,.minato_new_ko a:link,.minato_ki_ko a:link,.tokusyu_new_ko a:link,.situ_ko a:link,.myto_ko a:link,
.set:hover,tokusyu_new_ko a:link{
	color:#999;
}
a:visited {/*訪問後のリンク*/
	color:#8e6e6e;
}
h2{
	margin:0px 0px 10px 5px;
	font-size:18px;
}


.logo{
	padding-top:10px;
}

header{
	box-sizing:border-box;
	text-align:center;
	background:#fefefa;
	height:70px;
	font-size:24em;

}


/*上メニュー*/

nav ul{
	width: 100%;
	list-style-type: none;
	font-size:15px;
}
nav ul li{
	box-sizing:border-box;
	float:left;
	text-align:center;
	display: block;
	width: 20%;
	height: 45px;
	border-left: #ffaa9d 1px solid;
	letter-spacing:0.1em;
}
nav ul li a{
	background: linear-gradient(to bottom, #f9a89f, #c44628 100%);
	box-sizing:border-box;
	display: block;
	color:#fff;
	text-decoration:none;
	padding:15px 10% 15px 10%;
}
nav ul li a:hover{
		background-image: -webkit-gradient(
                  linear
		, left top
                , left bottom
		, from(#ffefdf)
		, color-stop(0.49, #f9988f)
		, color-stop(0.50, #f9887f)
		, to(#e5645a));
		text-shadow: #fff 0px 0px 10px;
}
nav ul li a:visited{
	color:#fff;
}


.koko{
	background: linear-gradient(to bottom, #e9684f, #a42608 80%);
}




/*検索バー*/
nav div.search{
	width:100%;
	height: 35px;
	background:#fafcce;
	float:left;
}
nav div.search div#search_in{
	box-sizing:border-box;
	margin: 0 auto;
	text-align:center;
	padding-top:6px;
	height: 30px;
}
div.clear{
	clear: both;
}










/*横メニュー*/

article div.sub{
	box-sizing:border-box;
	width:18%;
	float:left;
}
article div.sub div#login{
	box-sizing:border-box;
	width:100%;
	margin-top:-4%;
	float:left;
	padding-bottom:9%;
}
img.icon{
	 vertical-align:middle;
	 padding-right:4%;
	 width:15%;
	 height:15%;
}

article div.sub ul{
	width: 100%;
	list-style-type: none;
}
article div.sub ul li{
	box-sizing:border-box;
	width: 100%;
	height:50px;
	margin:0px;
	background:#fad2a7;
	border-top: #f9ca9a 1px solid;
	border-right: #fede89 1px solid;
	float:left;
	text-align:center;
	display: block;
	letter-spacing:0.1em;
	font-size:0.9em;
}
article div.sub ul li a{

	color:#fff;
	text-decoration:none;
	box-sizing:border-box;
	display: block;
	padding:18px 3% 10% 3%;
}


article div.sub ul li:hover{
	background-image: -webkit-gradient(
                  linear
		, left top
                , left bottom
		, from(#fde5ce)
		, to(#fad2a7));
}


.name{
	box-sizing:border-box;
	background:#f8c08e;
	padding:2% 2% 2% 5%;
	float:left;
	width:100%;
	line-height: 1.5em;
	color:#fffabf;
	border-right: #fede89 1px solid;
}

article div.sub div#ank{
	box-sizing:border-box;
	width:100%;
	padding:2%;
	margin: 0px;
	background:#fad2a7;
	float:left;
	bottom:0;
	border-right: #fede89 1px solid;
}
#kaito{
	box-sizing:border-box;
	width:100%;
	padding:5%;
	margin: 0px;
	background:#fff;
	float:left;
	bottom:0;
	line-height:1.5em;
	font-size:9pt;
	color:#aaa;
}

article{
	width:100%;
	height:auto;
}

.dodai{
	box-sizing:border-box;
	margin:0;

}

.yohaku{
	box-sizing:border-box;
	padding:2%;
	width:80%;
	float:left;
}

.yohaku2{
	box-sizing:border-box;
	padding:2%;
	width:82%;
	float:left;
}


textarea {
	resize: none;
	width:96%;
	border:none;
	margin-top:5px;
}
#text{
	box-sizing:border-box;
	background:#eb967b;
	padding:2% 2% 2% 5%;
	float:left;
	width:100%;
	line-height: 1.5em;
	color:#fffabf;
	border-right: #fca78c 1px solid;
}








/*ログイン*/

table.Input_form{
	width: 60%;
	border-collapse: collapse;
	margin:50px auto;
}
table.Input_form th{
	width: 40%;
	padding: 6px;
	text-align: left;
	vertical-align: middle;
	color: #333;
	background-color: #eee;
	border: 1px solid #b9b9b9;
}
table.Input_form td{
	padding: 6px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
}

div.clear{
	clear: both;
}

div#agreement{
	width:70%;
	margin:0 auto 30px auto;
}
div#agreement div#btn{
	margin:20px auto;
	width:50%;
	height:50px;
	box-sizing:border-box;
}
div#agreement div#btn button{
	width:100%;
	height:50px;
	font-size:11pt;
	background:#fedfd9;
	border: #9e7f69 2px solid;
}
div#agreement div#btn button a{
	color: #9e7f69;
}










/*トップ*/

.touko{
	box-sizing:border-box;
	width:39%;
	height:720px;
	margin:1%;
	float:left;
	border: #caceca 1px solid;
	padding:10px;
	-webkit-border-radius: 5px;
}
.moji{
	position:absolute;
	background:#fff;
	width:65%;
	height:65%;
	top:0;
	margin: auto;
	display: inline;
	margin:17%;
	font-size:10pt;
	line-height:1.3em;
}
#tou1{
	box-sizing:border-box;
	-webkit-border-radius: 50%;
	border: #caceca 1px solid;
	background:#fff;
	float:left;
	width:50%;
	position:relative;
}
#tou1:before{
	content:"";
	display: block;
}
#tou1 a{
	box-sizing:border-box;
	-webkit-border-radius: 50%;
	display: block;
	text-decoration:none;
	padding-top:100%;

}
#tou2 a,#tou3 a,#tou4 a{
	-webkit-border-radius: 50%;
	display: block;
	padding-top:100%;
}

#tou1 a:hover,#tou2:hover,#tou3:hover,#tou4:hover{
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
    	opacity: 0.5;
}

#tou2{
	box-sizing:border-box;
	position:relative;
	-webkit-border-radius: 50%;
	border: #caceca 1px solid;
	background:#fff;
	width:40%;
	float:right;
	margin-right:5%;
	margin-top:3%;
}
#tou2:before{
	content:"";
	display: block;

}
#tou3{
	box-sizing:border-box;
	position:relative;
	-webkit-border-radius: 50%;
	border: #caceca 1px solid;
	background:#fff;
	width:35%;
	float:left;
	margin-left:-40%;
	margin-top:50%;
}
#tou3:before{
	content:"";
	display: block;

}
#tou4{
	box-sizing:border-box;
	position:relative;
	-webkit-border-radius: 50%;
	border: #caceca 1px solid;
	background:#fff;
	width:35%;
	float:right;
	margin-top:7%;
	margin-right:9%;
}
#tou4:before{
	content:"";
	display: block;

}

.tokusyu{
	box-sizing:border-box;
	width:40%;
	margin:1% 1% 1% 0px;
	float:left;
	padding:10px;
	border: #caceca 1px solid;
	-webkit-border-radius: 5px;
}
.toku{
	box-sizing:border-box;
	width:100%;
	float:left;
}
#toku_1 a:hover,#toku_2 a:hover,#toku_3 a:hover,.situ a:hover,.osusume a:hover{

	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
    	opacity: 0.5;
}
.inti{
	font-size:1.1em;
	margin-bottom:8px;
}
#toku_1{
	box-sizing:border-box;
	border: #caceca 1px solid;
	float:left;
	-webkit-border-radius: 5px;
	background:#fff;
	color:#555;
	width:50%;
	font-size:10pt;
	line-height:1.3em;
}
#toku_1 a{
	box-sizing:border-box;
	padding:5% 5% 15% 5%;
	display: block;
	text-decoration:none;


}
#toku_2{
	box-sizing:border-box;
	width:49%;
	border: #caceca 1px solid;
	float:left;
	margin:0px 0px 4px 1%;
	-webkit-border-radius: 5px;
	background:#fff;
	font-size:10pt;
	line-height:1.3em;
}
#toku_2 a,#toku_3 a{
	box-sizing:border-box;
	padding:5%;
	display: block;
	text-decoration:none;
}
#toku_3{
	box-sizing:border-box;
	width:49%;
	border: #caceca 1px solid;
	float:left;
	margin-left:1%;
	-webkit-border-radius: 5px;
	background:#fff;
	font-size:10pt;
	line-height:1.3em;
}

#osukiji{
	box-sizing:border-box;
	width:40%;
	float:left;
	border: #caceca 1px solid;
	padding:10px;
	-webkit-border-radius: 5px;
	margin-bottom:20px;
}
.osusume{
	box-sizing:border-box;
	width:100%;
	border: #caceca 1px solid;
	float:left;
	-webkit-border-radius: 5px;
	background:#fff;
	margin-bottom:5px;
	margin-top:5px;
}
.osusume a{
	box-sizing:border-box;
	padding:10px;
	display: block;
	text-decoration:none;
}

.osuicon{
	vertical-align:middle;
	padding-right:5px;
	width:30px;
	height:30px;
}










/*サイトについて*/
.gati{
	font-size:16pt;
	background: -webkit-gradient(linear, 90% 0%, 0% 100%, from(rgba(0,0,0,0.0)), to(rgba(215,255,155,1.0)));
	padding:1% 1% 1% 2%;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
}
.gai_ti{
	box-sizing:border-box;
	padding:0% 0px 0px 1%;
	font-size:12pt;
	font-family: 'Meiryo', sans-serif;
	width:100%;
	line-height:1.8em;
	font-weight:bold;
}
#gawaku{
	box-sizing:border-box;
	margin:0% 3% 0% 3%;
	padding:1%;
}

.gaiyou{
	box-sizing:border-box;
	line-height:1.8em;
	padding:0% 3% 0px 3%;
	font-family: 'Meiryo', sans-serif;
	width:100%;
}













/*みんなの投稿*/
.ki{
	color:#aaa;
	display:inline;
}
.norb{
	color:#ae5e00;
}
.norb:visited{
	color:#ae5e00;
}
.jyun_ima{
	pointer-events:none;
	text-decoration:none;
	color:#aaa;
}

.minato_dai{
	width:100%;
	float:left;
	height:auto;
	padding:1% 0% 0% 2%;
}

.minato_new{
	color:#ff0000;
	float:left;
	width:32%;
	margin-right:1%;
	margin-top:1%;
}

.minato_new_ko{
	box-sizing:border-box;
	border: #babeba 1px solid;
	margin-top:1%;
	width:100%;
	float:left;
	color:#000;
	-webkit-border-radius: 10px;
	background:#fff;
	font-size:11pt;
}

.minato_new_ko a{
	padding:3%;
	text-decoration:none;
	display: block;
}

.mi_ti{
	box-sizing:border-box;
	width:100%;
	padding:1%;
	float:left;
}

.tou_ti{
	vertical-align:middle;
	padding-right:2%;
	width:30px;
	float:left;
}

.mina_toko{
	box-sizing:border-box;
	padding:5px 0% 3% 0px;
	font-size:10pt;
	float:left;
	line-height:1.4em;
}

.minato_new_ko a:hover,.minato_ki_ko a:hover,.tokusyu_new_ko a:hover,.situ_ko a:hover,.danwake a:hover,
.set:hover{
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
    	opacity: 0.5;
}



.minato_ki_ko{
	box-sizing:border-box;
	border: #babeba 1px solid;
	margin-top:1%;
	width:23%;
	float:left;
	margin-right:2%;
	-webkit-border-radius: 10px;
	background:#fff;
}
.minato_ki_ko a{
	text-decoration:none;
	display: block;
	height:130px;
	padding:4%;
}

.page{
	width:100%;
	float:left;
	height:auto;
	padding:3% 0% 1% 0%;
	text-align:center;
}
.no{
	text-decoration:none;
	margin-right:1%;
}
.no_ima{
	pointer-events:none;
	text-decoration:none;
	margin-right:1%;
	color:#aaa;
}










/*みんなの質問*/
#situ_dai{
	box-sizing:border-box;
	width:102%;
	margin-top:20px;
	margin-bottom:5px;
	padding:0% 1% 0px 1%;
}

.situ_ko{
	box-sizing:border-box;
	border: #babeba 1px solid;
	margin-bottom:2px;
	width:100%;
	background:#fff;
	-webkit-border-radius: 5px;
}
.situ_ko a{
	text-decoration:none;
	display: block;
	padding:1%;
}

.situ_icon{
	box-sizing:border-box;
	width:35px;
	vertical-align:middle;

}











/*特集*/

.tokusyu_new_ko{
	box-sizing:border-box;
	border: #babeba 1px solid;
	margin-top:1%;
	width:100%;
	float:left;
	color:#000;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	background:#fff;
}
.tokusyu_new_ko a{
	text-decoration:none;
	display: block;
	padding:3%;
	height:150px;
}












/*マイページ*/
#my{
	box-sizing:border-box;
	width:30%;
	float:left;
	padding-top:2%;
	text-align:center;
}

.myicon{
	width:150px;
	margin:0% 0% 2% 0%;
}
#pass{
	background:#eb967b;
	margin:2% auto 5% auto;
	width:150px;
	box-sizing:border-box;
}
#pass a{
	box-sizing:border-box;
	text-decoration:none;
	padding:3% 2% 3% 2%;
	color:#fff;
	display: block;
}
#pass:hover{
	background:#fba68b;
}
.set{
	width:8%;
	margin-left:33%;
}


#myto{
	box-sizing:border-box;
	width:68%;
	float:left;
	margin-left:2%;
	line-height:2.0em;
}
.mytoko{
	box-sizing:border-box;
	margin-top:1%;
	font-size:9pt;
	float:left;
	border-bottom: #caceca 1px solid;
	padding-bottom:1%;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:12;
}
.myto_ko{
	box-sizing:border-box;
	width:100%;
	border: #caceca 1px solid;
	margin-top:2%;
	background:#fff;
	line-height:1.3em;
	float:left;
	-webkit-border-radius: 5px;
	padding-bottom:1%;

}
.myto_ko a{
	text-decoration:none;
	padding:2%;
	display: block;
}

table.prof {
	border-spacing:0px;
	margin:0 auto;
	width:90%;
}
table.prof tr th{
	font-size: 12px;
	width:40%;
	padding: 2% 0% 2% 3%;
}
table.prof tr td {
	font-size: 12px;
	padding: 2% 0% 2% 0%;
	text-align:left;
}
table.prof tr th {
	text-align:right;
}
.mysou{
	box-sizing:border-box;
	border: #aaa 1px solid;
	background:#eee;
	float:left;
	letter-spacing:0.3em;
	font-size:10pt;
	width:80px;
	text-align:center;
}
.mysou a{
	box-sizing:border-box;
	padding:7% 0% 7% 5%;
	color:#888;
	text-decoration:none;
	display: block;
}














/*記事投稿*/

.kijiwaku{
	box-sizing:border-box;
	margin:1% 0% 1% 0%;
	padding:1%;
	border: #caceca 1px solid;
	float:left;
}
.kito{
	box-sizing:border-box;
	float:left;
	width:50%;
	margin-right:1%;
}
.kijiti{
	box-sizing:border-box;
	width:100%;
	border: #caceca 1px solid;
	padding:1%;
	font-size:1.3em;
	resize: none;
	float:left;
	color:#555;
	font-family: 'arial', sans-serif;
}
.toran{
	box-sizing:border-box;
	border: #caceca 1px solid;
	width: 100%;
	height:34em;
	line-height: 1.5em;
	resize: none;
	padding:1%;
	font-size:1em;
	margin-bottom:3%;
	float:left;
	color:#555;
	font-family: 'arial', sans-serif;
}
.kibo{
	box-sizing:border-box;
	float:left;
	margin-right:50%;
}
.ta{
	box-sizing:border-box;
	float:left;
	font-size:10pt;
}
.tata{
	box-sizing:border-box;
	float:left;
	width:80%;
	background: linear-gradient(to right, #f4ffaf 50%, #ffffef 90%);
	color:#667700;
	padding-left:2%;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	font-size:9pt;
}
.taguwaku{
	box-sizing:border-box;
	width:49%;
	float:left;
	line-height:1.5em;
}
.tawa{
	box-sizing:border-box;
	border: #caceca 1px solid;
	float:left;
	width: 100%;
	padding:1%;
	background:#ffffef;
	-webkit-border-radius: 5px;
}
ul.tagu,ul.tagu2{
	width: 100%;
	box-sizing:border-box;
	float:right;
	list-style-type: none;
	float:left;
	padding-left:1%;
	margin-bottom:1%;
}
ul.tagu li{
	float:left;
	display: block;
	width:33%;
	font-size:8pt;
	color:#9e7f69;
	line-height:1.5em;
}
ul.tagu2 li{
	float:left;
	display: block;
	width:25%;
	font-size:8pt;
	color:#9e7f69;
}
ul.tagu3 li{
	float:left;
	display: block;
	width:33%;
	font-size:8pt;
	color:#9e7f69;
}


.sousin{
	box-sizing:border-box;
	border: #aaa 1px solid;
	background:#eee;
	float:right;
	letter-spacing:0.3em;
	font-size:10pt;
	width:10%;
	text-align:center;
}
.sousin a{
	box-sizing:border-box;
	padding:10% 0% 10% 5%;
	color:#888;
	text-decoration:none;
	display: block;
}
.sousin a:hover,.mysou a:hover{
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
    	opacity: 0.5;
}














/*記事詳細ページ*/


.kisyowa{
	box-sizing:border-box;
	float:left;
	width:90%;
	margin:0px 0px 1% 5%;
	padding:1%;
}
.kipro{
	box-sizing:border-box;
	float:left;
	width:13%;
	text-align:center;
}
.tihibu{
	box-sizing:border-box;
	padding:10px 1% 1% 1%;
	float:right;
	width:86%;
	border: #caceca 1px solid;

	margin-bottom:2%;
}

.kiti{
	box-sizing:border-box;
	float:left;
	width:100%;
	font-size:14pt;
	margin-top:-1px;
}
.day{
	box-sizing:border-box;
	float:left;
	width:100%;
	margin-top:0px;
	text-align:right;
}
.kijibu{
	box-sizing:border-box;
	margin:1% 0% 0% 0%;
	padding:1%;
	border: #caceca 1px solid;
	float:right;
	background:#fff;
	width:100%;
	font-size:11pt;
	line-height:1.4em;
}
.kicon{
	width:100%;
	margin:0 auto;
}
.favowa{
	box-sizing:border-box;
	float:right;
	width:100%;
	border-bottom: #caceca 1px solid;
	padding:5px 0px 5px 0px;
	text-align:right;
}
.fav{
	box-sizing:border-box;
	width:50%;
	float:left;
	text-align:left;
	height:40px;
}
.fav_icon{
	width:30px;
	margin:3px 10px 0px 0px;
}
.sns{
	box-sizing:border-box;
	width:50%;
	float:left;

}
.sns_icon{
	box-sizing:border-box;
	width:40px;
	vertical-align:middle;
	margin-left:5px;

}
.sns_icon_fb{
	box-sizing:border-box;
	width:28px;
	vertical-align:middle;
	margin-left:5px;
}
.totawa{
	box-sizing:border-box;
	float:right;
	width:100%;
	font-size:10pt;
	line-height:1.4em;
}
.tota{
	box-sizing:border-box;
	margin:1% 1% 0% 0%;
	padding:0% 2% 0% 2%;
	border: #c0ed7d 1px solid;
	float:left;
	background:#eaffcf;
	font-size:8pt;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
}

#komewaku{
	box-sizing:border-box;
	float:left;
	width:100%;
	border-bottom: #caceca 1px solid;
	margin:1% 2% 0% 0%;
	background:#fff;
}
.k{
	border-top:#caceca 1px solid;
	padding-top:20px;
}
.kowa{
	box-sizing:border-box;
	margin-bottom:1%;
	width:100%;
	float:left;
	padding:1%;
}
.kome{
	box-sizing:border-box;
	float:left;
	width:100%;
	border-top: #caceca 1px solid;
	border-left: #caceca 1px solid;
	border-right: #caceca 1px solid;
	background:#fff;
	padding:1%;
}
.koi{
	vertical-align:middle;
	padding-right:1%;
	width:3%;
}
.coco{
	box-sizing:border-box;
	float:left;
	width:100%;
	padding:1% 0% 1% 0%;
	font-size:9pt;
}
#inkome{
	box-sizing:border-box;
	border: #caceca 1px solid;
	width: 100%;
	height:10em;
	line-height: 1.5em;
	resize: none;
	padding:1%;
	font-size:0.8em;
	margin:3% 0% 1% 0%;
	float:left;
	color:#555;
}











/*お気に入り：投稿*/

#favoto{
	box-sizing:border-box;
	width:88%;
	margin:0 auto;
	margin-left:7%;
	line-height:2.0em;
}
.danwake{
	box-sizing:border-box;
	width:100%;
	border: #caceca 1px solid;
	margin-top:2%;
	background:#fff;
	line-height:1.3em;
	float:left;
	-webkit-border-radius: 5px;
	padding-bottom:1%;
}

.danwake a{
	text-decoration:none;
	padding:2%;
	display: block;

}








/*フッター*/


footer{
	background:#fedfd9;
	color:#ffffff;
}
footer ul{
	width: 100%;
	list-style-type: none;
	padding-top:10px;

}
footer ul li{
	float:left;
	text-align:center;
	display: block;
	width: 20%;
	font-size:9pt;
	color:#9e7f69;
	line-height:1.5em;
}
footer ul li a,footer ul li a:link,footer ul li a:visited{
	color:#9e7f69;
	text-decoration:none;
}
footer p#copy{
	text-align:center;
	font-size:9pt;
	padding:10px;
}






/*トップの丸*/


@media screen and (max-width: 1300px) {

#tou2{
	float:right;
	margin-top:10%;
}
#tou3{
	float:left;
	margin-top:55%;
}
#tou4{
	float:right;
	margin-right:10%;

}

}





@media screen and (max-width: 1200px) {

#tou2{
	float:right;
	margin-top:20%;
}
#tou3{
	float:left;
	margin-top:55%;
}
#tou4{
	float:right;
	margin-top:10%;
}

}



@media screen and (max-width: 1100px) {
#tou1{
	width:48%;

}
#tou2{
	width:43%;
	float:right;
	margin-top:23%;
}
#tou3{
	width:40%;
	float:left;
	margin-top:55%;
}
#tou4{
	width:40%;
	float:right;
	margin-top:10%;
}

}


@media screen and (max-width: 1000px) {

#tou2{
	float:right;
	margin-top:25%;
}
#tou3{
	float:left;
	margin-top:60%;
}
#tou4{
	float:right;
	margin-top:20%;
}

}
@media screen and (max-width: 900px) {
#tou1{
	width:50%;
}

#tou2{
	width:45%;
	float:right;
	margin-top:35%;
}
#tou3{
	width:43%;
	float:right;
	margin-top:10%;
	margin-right:3%;
}
#tou4{
	width:43%;
	float:right;
	margin-top:-10%;
}

}

@media screen and (max-width: 800px) {
#tou1{
	width:55%;
}

#tou2{
	width:45%;
	float:right;
	margin-top:-10%;
}
#tou3{
	width:43%;
	float:right;
	margin-top:25%;
	margin-right:3%;
}
#tou4{
	width:43%;
	float:right;
	margin-top:-10%;
}

}









/* 表示画面 */
#stage {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
/*全ての写真を水平一列に格納したdiv、#photosに,
スライドショーの animation を設定*/
#photos {
	position:absolute;
	top:0;
	width:100%;
	animation: imgPassToLeft0 30s infinite;
	-webkit-animation: imgPassToLeft0 30s infinite;
}
/*各写真の並び位置を設定
#photo1, #photo2, #photo3, #photo4, #photo5 */
#photo0 { left:  0%; }
#photo1 { left:100%; }
#photo2 { left:200%; }
#photo3 { left:300%; }
#photo4 { left:400%; }
#photo5 { left:500%; }
#photo6 { left:600%; }
.pic { position:absolute;top:0;width:100%; }
/*写真サイズを可変に*/
.pic img { width:100%; }

/* 全てのラジオボタンを非表示に */
#back1,#back2,#back3,#back4,#back5,#next1,#next2,#next3,#next4,#next5{
	display: none;
}
/*送りボタン文字（＜、＞）の設定*/
.b_left span, .b_right span {
	position: absolute;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 40px;
	font-weight: bold;
	opacity:0;
	top: 40%;
	color:#EEE;
}
.b_left span {
	left: 5%;;
}
.b_right span {
	left: 91%;
}
/*ボタン文字hover時の設定*/
.pic:hover > label div span {
	opacity:1;
	color:#EEE;
}
.pic label div span:hover {
	color:#ddd;
	cursor:pointer;
}
/* 各送りボタンクリック時のanimation設定 */
#next1:checked ~ #photos {
	animation: imgPassToLeft1 30s infinite;
	animation-delay: -4.8s;
	-webkit-animation: imgPassToLeft1 30s infinite;
	-webkit-animation-delay: -4.8s;
}
#next2:checked ~ #photos {


	animation: imgPassToLeft2 30s infinite;
	animation-delay: -10.8s;
	-webkit-animation: imgPassToLeft2 30s infinite;
	-webkit-animation-delay: -10.8s;
}
#next3:checked ~ #photos {
	animation: imgPassToLeft3 30s infinite;
	animation-delay: -16.8s;
	-webkit-animation: imgPassToLeft3 30s infinite;
	-webkit-animation-delay: -16.8s;
}
#next4:checked ~ #photos {
	animation: imgPassToLeft4 30s infinite;
	animation-delay: -22.8s;
	-webkit-animation: imgPassToLeft4 30s infinite;
	-webkit-animation-delay: -22.8s;
}
#next5:checked ~ #photos {
	animation: imgPassToLeft5 30s infinite;
	animation-delay: -28.8s;
	-webkit-animation: imgPassToLeft5 30s infinite;
	-webkit-animation-delay: -28.8s;
}
#back1:checked ~ #photos {
	animation: imgPassToRight1 30s infinite;
	animation-delay: -28.8s;
	-webkit-animation: imgPassToRight1 30s infinite;
	-webkit-animation-delay: -28.8s;
}
#back2:checked ~ #photos {
	animation: imgPassToRight2 30s infinite;
	animation-delay: -22.8s;
	-webkit-animation: imgPassToRight2 30s infinite;
	-webkit-animation-delay: -22.8s;
}
#back3:checked ~ #photos {
	animation: imgPassToRight3 30s infinite;
	animation-delay: -16.8s;
	-webkit-animation: imgPassToRight3 30s infinite;
	-webkit-animation-delay: -16.8s;
}
#back4:checked ~ #photos {
	animation: imgPassToRight4 30s infinite;
	animation-delay: -10.8s;
	-webkit-animation: imgPassToRight4 30s infinite;
	-webkit-animation-delay: -10.8s;
}
#back5:checked ~ #photos {
	animation: imgPassToRight5 30s infinite;
	animation-delay: -4.8s;
	-webkit-animation: imgPassToRight5 30s infinite;
	-webkit-animation-delay: -4.8s;
}
/* animation設定 */
@keyframes imgPassToLeft0 {
	0%  { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@keyframes imgPassToLeft1 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@keyframes imgPassToLeft2 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@keyframes imgPassToLeft3 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@keyframes imgPassToLeft4 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@keyframes imgPassToLeft5 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@keyframes imgPassToRight1 {
	0% { left:-500%; }
	16% { left:-500%; }
	20% { left:-400%; }
	36% { left:-400%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-200%; }
	76% { left:-200%; }
	80% { left:-100%; }
	96% { left:-100%; }
	100% { left:0%; }
}
@keyframes imgPassToRight2 {
	0% { left:-500%; }
	16% { left:-500%; }
	20% { left:-400%; }
	36% { left:-400%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-200%; }
	76% { left:-200%; }
	80% { left:-100%; }
	96% { left:-100%; }
	100% { left:0%; }
}
@keyframes imgPassToRight3 {
	0% { left:-500%; }
	16% { left:-500%; }
	20% { left:-400%; }
	36% { left:-400%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-200%; }
	76% { left:-200%; }
	80% { left:-100%; }
	96% { left:-100%; }
	100% { left:0%; }
}
@keyframes imgPassToRight4 {
	0% { left:-500%; }
	16% { left:-500%; }
	20% { left:-400%; }
	36% { left:-400%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-200%; }
	76% { left:-200%; }
	80% { left:-100%; }
	96% { left:-100%; }
	100% { left:0%; }
}
@keyframes imgPassToRight5 {
	0% { left:-500%; }
	16% { left:-500%; }
	20% { left:-400%; }
	36% { left:-400%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-200%; }
	76% { left:-200%; }
	80% { left:-100%; }
	96% { left:-100%; }
	100% { left:0%; }
}
@-webkit-keyframes imgPassToLeft0 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@-webkit-keyframes imgPassToLeft1 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@-webkit-keyframes imgPassToLeft2 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@-webkit-keyframes imgPassToLeft3 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@-webkit-keyframes imgPassToLeft4 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@-webkit-keyframes imgPassToLeft5 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@-webkit-keyframes imgPassToRight1 {
	0% { left:-500%; }
	16% { left:-500%; }
	20% { left:-400%; }
	36% { left:-400%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-200%; }
	76% { left:-200%; }
	80% { left:-100%; }
	96% { left:-100%; }
	100% { left:0%; }
}
@-webkit-keyframes imgPassToRight2 {
	0% { left:-500%; }
	16% { left:-500%; }
	20% { left:-400%; }
	36% { left:-400%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-200%; }
	76% { left:-200%; }
	80% { left:-100%; }
	96% { left:-100%; }
	100% { left:0%; }
}
@-webkit-keyframes imgPassToRight3 {
	0% { left:-500%; }
	16% { left:-500%; }
	20% { left:-400%; }
	36% { left:-400%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-200%; }
	76% { left:-200%; }
	80% { left:-100%; }
	96% { left:-100%; }
	100% { left:0%; }
}
@-webkit-keyframes imgPassToRight4 {
	0% { left:-500%; }
	16% { left:-500%; }
	20% { left:-400%; }
	36% { left:-400%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-200%; }
	76% { left:-200%; }
	80% { left:-100%; }
	96% { left:-100%; }
	100% { left:0%; }
}
@-webkit-keyframes imgPassToRight5 {
	0% { left:-500%; }
	16% { left:-500%; }
	20% { left:-400%; }
	36% { left:-400%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-200%; }
	76% { left:-200%; }
	80% { left:-100%; }
	96% { left:-100%; }
	100% { left:0%; }
}
