

html{
	height: 100%;
}
body {
	height: 100%;
}
.pageti{
	margin:0;
}
.pageti2{
	margin:0px 0px 15px 0px;
}
h2{
	font-size:18px;
}


.logo{
	padding-top:5px;
	height:60px;
}

header{
	box-sizing:border-box;
	text-align:center;
	background:#fefefa;
	height:100px;
	font-size:24em;

}


/*上メニュー*/


.koko{
	background: linear-gradient(to bottom, #e9684f, #a42608 80%);
}

.Q{
	border-bottom:dashed 1pt #000;
	margin:0px 0px 5px 10px;
	font-size:12pt;
	color:#688;
}
.A{
	margin:0px 0px 30px 15px;
	line-height:1.5em;

}

.help_title{
	border-bottom:solid 1pt #654;
	border-left:solid 3pt #654;
	padding:2px;
	font-size:14pt;
	color:#654;
}


/*検索バー*/
nav div.search{
	width:100%;
	height: 35px;
	background:#fafcce;
	float:left;
}
nav div.search div#search_in{
	box-sizing:border-box;
	margin: 0 auto;
	text-align:center;
	padding-top:6px;
	height: 30px;
}
div.clear{
	clear: both;
}







/*ログイン前トップ横メニュー*/
.log{
	width:90%;
	color:#995500;
	font-size:9pt;
}
#new{
	box-sizing:border-box;
	width:100%;
	padding:11%;
	margin: 0px;
	background:#fad2a7;
	float:left;
	bottom:0;
	border-right: #fede89 1px solid;
	line-height:0.5em;
	color:#995500;
	font-size:9pt;
}
#logbt{
	box-sizing:border-box;
	margin-right:10%;

}
.gray{
	color:#777;
	cursor:pointer
}
#top_log{
	box-sizing:border-box;
	width:100%;
	padding:2%;
	background:#fad2a7;
	float:left;
	bottom:0;
	line-height:0.5em;
	font-family: 'HiraKakuProN-W6', sans-serif;
	color:#995500;
	font-size:9pt;
	text-align:right;
}
table.logt {
	border-spacing:0px;
	float:left;
	width:90%;
	margin-left:5%;
}
table.logt tr th{
	font-size:7pt;
	width:20%;
	color:#995500;
	padding: 2% 0% 2% 3%;
}
table.logt tr td {
	font-size:7pt;
	padding: 2% 0% 2% 0%;
	text-align:left;
}
table.logt tr th {
	text-align:left;
}

.error{
	color:red;
	padding: 2% 0% 2% 3%;
	font-size:9pt;
	line-height:1em;
}





/*横メニュー*/

article div.sub{
	box-sizing:border-box;
	width:18%;
	float:left;
}
article div.sub div#login{
	box-sizing:border-box;
	width:100%;
	margin-top:-4%;
	float:left;
	padding-bottom:9%;
}
img.icon{
	 vertical-align:middle;
	 padding-right:4%;
	 width:15%;
	 height:15%;
}

article div.sub ul{
	width: 100%;
	list-style-type: none;
}
article div.sub ul li{
	box-sizing:border-box;
	width: 100%;
	height:50px;
	margin:0px;
	background:#fad2a7;
	border-top: #f9ca9a 1px solid;
	border-right: #fede89 1px solid;
	float:left;
	text-align:center;
	display: block;
	letter-spacing:0.1em;
	font-size:0.9em;
}
article div.sub ul li a{

	color:#950;
	text-decoration:none;
	box-sizing:border-box;
	display: block;
	padding:18px 3% 10% 3%;
}


article div.sub ul li:hover{
	background-image: -webkit-gradient(
                  linear
		, left top
                , left bottom
		, from(#fde5ce)
		, to(#fad2a7));
}


.name{
	box-sizing:border-box;
	background:#f8c08e;
	padding:2% 2% 2% 5%;
	float:left;
	width:100%;
	line-height: 1.5em;
	color:#950;
	border-right: #fede89 1px solid;
}

article div.sub div#ank{
	box-sizing:border-box;
	width:100%;
	padding:2%;
	margin: 0px;
	background:#fad2a7;
	float:left;
	bottom:0;
	border-right: #fede89 1px solid;
}
#kaito{
	box-sizing:border-box;
	width:100%;
	padding:5%;
	margin: 0px;
	background:#fff;
	float:left;
	bottom:0;
	line-height:1.5em;
	font-size:9pt;
	color:#aaa;
}

article{
	width:100%;
	height:auto;
}

.dodai{
	box-sizing:border-box;
	margin:0;

}

.yohaku{
	box-sizing:border-box;
	padding:2%;
	width:80%;
	float:left;
}

.yohaku2{
	box-sizing:border-box;
	padding:2%;
	width:82%;
	float:left;
}


textarea {
	resize: none;
	width:96%;
	border:none;
	margin-top:5px;
}
#text{
	box-sizing:border-box;
	background:#eb967b;
	padding:2% 2% 2% 5%;
	float:left;
	width:100%;
	line-height: 1.5em;
	color:#fffabf;
	border-right: #fca78c 1px solid;
}








/*ログイン*/

table.Input_form{
	width: 600px;
	border-collapse: collapse;
	margin:15px auto;
}
table.Input_form th{
	width: 150px;
	padding: 10px;
	text-align: left;
	vertical-align: middle;
	color: #8a8a6a;
	background-color: #f0ffdd;
	border: 1px solid #b9b9b9;
}
table.Input_form td{
	padding: 6px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
}

div.clear{
	clear: both;
}

div#agreement{
	width:60%;
	margin:0px auto 30px auto;
	text-align:center;

}
div#agreement div#btn{
	margin:50px auto;
	width:250px;
	height:100px;
	box-sizing:border-box;
}
div#agreement div#btn input{
	width:100%;
	height:50px;
	font-size:11pt;
}
#agreement div#btn input a{
	color: #9e7f69;
	text-decoration:none;
	padding:4%;
	display: block;
}
#agreement div#btn input a:hover,#entry a:hover{
	color: #aa0000 !important;
}

#entry{
	background:#ffe5d0 !important;
	margin-bottom:20px;
	color:#9e7f69 !important;
	border:#9e7f69 2px solid;
	padding: 17px;
	width: 100%;
	height: 50px;
	font-size: 11pt;
	box-sizing: border-box;
	text-align:center;

}
#entry a{
	text-decoration:none;
	display: block;
}

#entry:hover{
	background:#fba68b;
}

#entry2{
	background:#ffffe0 !important;
	margin-bottom:20px;
	color:#9e7f69 !important;
	border:#9e7f69 2px solid;
	padding: 17px;
	width: 100%;
	height: 50px;
	font-size: 11pt;
	box-sizing: border-box;
}
#entry2 a{
	text-decoration:none;
	display: block;
}
.shinkou{
	box-sizing: border-box;
	width:100%;
	height:40px;
	text-align:center;
}
#kakunin{
	background:#ddd;
}
#kakunin2{
	background:#eee;
}
.pankusu_list{
	box-sizing: border-box;
	float:left;
	width:24%;
	height:40px;
	padding:12px;
	border:0;
	color: #888;
	letter-spacing:0.3em;
}


#now{
	color:#fedfd9 !important;
	background:#9e7f69 !important;
}
#just{
	background:#fff5ef !important;
	color:#9e7f69 !important;
}
#temae{
	color:#9e7f69 !important;
	background:#fedfd9 !important;
}
#yajirushi{
	box-sizing: border-box;
	float:left;
	height:40px;
	width:5%;
	border-top:#9e7f69 20px solid;
	border-right:#9e7f69 17px solid;
	border-bottom:#9e7f69 20px solid;
	border-left:#fedfd9 20px solid;
}
#yajirushi_1{
	box-sizing: border-box;
	float:left;
	width:5%;
	height:40px;
	border-top:#ddd 20px solid;
	border-right:#ddd 17px solid;
	border-bottom:#ddd 20px solid;
	border-left:#9e7f69 20px solid;
}
#yajirushi_2{
	box-sizing: border-box;
	float:left;
	width:5%;
	height:40px;
	border-top:#eee 20px solid;
	border-right:#eee 17px solid;
	border-bottom:#eee 20px solid;
	border-left:#ddd 20px solid;
}
#yajirushi_3{
	box-sizing: border-box;
	float:left;
	width:5%;
	height:40px;
	border-top:#fedfd9 20px solid;
	border-right:#fedfd9 17px solid;
	border-bottom:#fedfd9 20px solid;
	border-left:#fff5ef 20px solid;
}
#ok{
	margin:0 auto;
	padding:100px;
}

.red{
	display: inline;
	color:#f00;
	padding:3px;
}

.kasi{
	display: inline;
	font-size:9pt;
	color:#aaa;
}
#caution{
	text-align:left;
	line-height:1.5em;
	width:600px;
	margin:0 auto;
}
#hisu{
	text-align:left;
	padding:2%;
}
#tyu{
	width:600px;
	margin:0 auto;
	font-size:9pt;
}










/*トップ*/
.top_title{
	background: -webkit-gradient(linear, 90% 0%, 0% 100%, from(rgba(0,0,0,0.0)), to(rgba(215,255,155,1.0)));
	padding:5px 0px 5px 10px;
	-webkit-border-radius: 5px;
	color:#869a44;
	font-size:18px;
	margin:0px 0px 5px 0px;
}
.top-post {
	box-sizing:border-box;
	width:39%;
	margin:1%;
	float:left;
	padding:10px;
	-webkit-border-radius: 5px;
}
.touko{
	box-sizing:border-box;
	width:39%;
	height:777px;
	margin:1%;
	float:left;
	padding:10px;
	-webkit-border-radius: 5px;
}
.moji{
	position:absolute;
	width:65%;
	height:65%;
	top:0;
	margin: auto;
	display: inline;
	margin:17%;
	font-size:10pt;
	line-height:1.3em;
}
.inti_tou1{
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:2;
}
.inbu_tou1{
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:8;
	font-size:9pt;
	margin-top:3px;
}
.inbu_tou2{
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:6;
	font-size:9pt;
	margin-top:3px;
}



#tou1{
	box-sizing:border-box;
	-webkit-border-radius: 50%;
	border: #caceca 1px solid;
	background:#fff;
	float:left;
	width:250px;
	margin:2%;
	position:relative;
}
#tou1:before{
	content:"";
	display: block;
}
#tou1 a,#tou2 a #tou3 a,#tou4 a{
	box-sizing:border-box;
	-webkit-border-radius: 50%;
	display: block;
	text-decoration:none;
	padding-top:100%;

}
#tou2 a,#tou3 a,#tou4 a{
	-webkit-border-radius: 50%;
	display: block;
	padding-top:100%;
}

#tou1 a:hover,#tou2 a:hover,#tou3 a:hover,#tou4 a:hover{
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
    	opacity: 0.5;
}

#tou2{
	margin:20% 2% 2% 2%;
	box-sizing:border-box;
	position:relative;
	-webkit-border-radius: 50%;
	border: #caceca 1px solid;
	background:#fff;
	width:210px;
	float:left;

}
#tou2:before{
	content:"";
	display: block;

}
#tou3{
	box-sizing:border-box;
	position:relative;
	-webkit-border-radius: 50%;
	border: #caceca 1px solid;
	background:#fff;
	width:210px;
	float:left;
	margin:0% 2% 2% 5%;
}
#tou3:before{
	content:"";
	display: block;

}
#tou4{
	box-sizing:border-box;
	position:relative;
	-webkit-border-radius: 50%;
	border: #caceca 1px solid;
	background:#fff;
	width:210px;
	float:left;
	margin:15% 2% 2% 5%;
}
#tou4:before{
	content:"";
	display: block;

}

.tokusyu{
	box-sizing:border-box;
	width:40%;
	margin:1% 1% 1% 0px;
	float:left;
	padding:10px;
	-webkit-border-radius: 5px;
}
.toku{
	box-sizing:border-box;
	width:100%;
	float:left;
}
#toku_1 a:hover,#toku_2 a:hover,#toku_3 a:hover,.situ a:hover,.osusume a:hover{

	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
    	opacity: 0.5;
}
.inti{
	font-size:1.1em;
	margin:3px 0px 13px 0px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:1;
}
.inbu_toku1{
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 6;
	font-size:9pt;
}
.inbu_toku2{
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:1;
	font-size:9pt;
	height:90px;
}
#toku_1{
	box-sizing:border-box;
	border: #caceca 1px solid;
	float:left;
	-webkit-border-radius: 5px;
	background:#fff;
	color:#555;
	width:50%;
	font-size:10pt;
	line-height:1.3em;
	height:300px;
}
#toku_1 a{
	box-sizing:border-box;
	padding:5% 5% 15% 5%;
	display: block;
	text-decoration:none;


}
#toku_2{
	box-sizing:border-box;
	width:49%;
	border: #caceca 1px solid;
	float:left;
	margin:0px 0px 4px 1%;
	-webkit-border-radius: 5px;
	background:#fff;
	font-size:10pt;
	line-height:1.3em;
	height:148px;
}
#toku_2 a,#toku_3 a{
	box-sizing:border-box;
	padding:5%;
	display: block;
	text-decoration:none;
}

#toku_3{
	box-sizing:border-box;
	width:49%;
	border: #caceca 1px solid;
	float:left;
	margin-left:1%;
	-webkit-border-radius: 5px;
	background:#fff;
	font-size:10pt;
	line-height:1.3em;
	height:148px;
}

#osukiji{
	box-sizing:border-box;
	width:40%;
	float:left;
	padding:10px;
	-webkit-border-radius: 5px;
	margin-bottom:20px;
}
.osusume{
	box-sizing:border-box;
	width:100%;
	border: #caceca 1px solid;
	float:left;
	-webkit-border-radius: 5px;
	background:#fff;
	margin-bottom:5px;
	margin-top:0px;
}
.osusume a{
	box-sizing:border-box;
	padding:1%;
	display: block;
	text-decoration:none;
}

.osuicon{
	vertical-align:middle;
	padding-right:1%;
	width:30px;
	height:30px;
	float:left;
}

.inbu_osu{
	padding:0% 1% 1% 1%;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:4;
	font-size:9pt;
	float:left;
	height:52px;
	line-height:1.2em;
	margin-bottom:10px;
}








/*サイトについて*/
.gati{
	font-size:14pt;
	background: -webkit-gradient(linear, 90% 0%, 0% 100%, from(rgba(0,0,0,0.0)), to(rgba(215,255,155,1.0)));
	padding:1% 1% 1% 2%;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	margin:0px;
}
.gai_ti{
	box-sizing:border-box;
	font-size:12pt;
	font-family: 'Meiryo', sans-serif;
	width:100%;
	line-height:1.8em;
	font-weight:bold;
}
#gawaku{
	box-sizing:border-box;
	margin:5px 0% 20px 10px;
	padding:1%;
}

.gaiyou{
	box-sizing:border-box;
	line-height:1.8em;
	padding:0%;
	font-family: 'Meiryo', sans-serif;
	width:100%;
}













/*みんなの投稿*/
.ki{
	color:#aaa;
	display:inline;
}
.norb{
	color:#ae5e00;
}
.norb:visited{
	color:#ae5e00;
}
.jyun_ima{
	pointer-events:none;
	text-decoration:none;
	color:#aaa;
}

.minato_dai{
	width:100%;
	float:left;
	height:auto;
	padding:1% 0% 0% 2%;
}

.minato_new{
	color:#ff0000;
	float:left;
	width:32%;
	margin-right:1%;
	margin-top:1%;
}

.minato_new_ko{
	box-sizing:border-box;
	border: #babeba 1px solid;
	margin-top:1%;
	width:100%;
	float:left;
	color:#000;
	-webkit-border-radius: 10px;
	background:#fff;
	font-size:11pt;
}

.minato_new_ko a{
	padding:3%;
	text-decoration:none;
	display: block;
}

.mi_ti{
	box-sizing:border-box;
	width:100%;
	padding:1%;
	float:left;
}

.tou_ti{
	vertical-align:middle;
	padding-right:2%;
	width:30px;
	height:30px;
	float:left;
}

.mina_ti{
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:1;
	margin-top:8px;
}


.mina_toko{
	box-sizing:border-box;
	padding:5px 0% 3% 0px;
	float:left;
	line-height:1.4em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:9;
	height:150px;
	margin-bottom:8px;
	font-size:9pt;
	letter-spacing:0.03em;
}
.mina_toko2{
	box-sizing:border-box;
	padding:5px 0% 3% 0px;
	float:left;
	line-height:1.4em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:7;
	height:115px;
	font-size:9pt;
	margin-bottom:8px;
}


.myto_ko a:hover,.minato_new_ko a:hover,.minato_ki_ko a:hover,.tokusyu_new_ko a:hover,.situ_ko a:hover,.danwake a:hover,.danwake2 a:hover,
.set:hover{
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
    	opacity: 0.5;
}



.minato_ki_ko{
	box-sizing:border-box;
	border: #babeba 1px solid;
	margin-top:1%;
	width:23%;
	float:left;
	margin-right:2%;
	-webkit-border-radius: 10px;
	background:#fff;
}
.minato_ki_ko a{
	text-decoration:none;
	display: block;
	height:130px;
	padding:4%;
}

.page{
	width:100%;
	float:left;
	height:auto;
	padding:3% 0% 1% 0%;
	text-align:center;
}
.no{

	margin-right:1%;
	color:#ae5e00;
}
.no:visited{
	color:#ae5e00;
}
.no_ima{
	pointer-events:none;
	text-decoration:none;
	margin-right:1%;
	color:#aaa;
}










/*みんなの質問*/
#situ_dai{
	box-sizing:border-box;
	width:102%;
	margin-top:0px;
	margin-bottom:5px;
	padding:0% 1% 0px 1%;
}

.situ_ko{
	box-sizing:border-box;
	border: #babeba 1px solid;
	margin-bottom:5px;
	width:100%;
	background:#fff;
	float:left;
	-webkit-border-radius: 5px;
}
.situ_ko a{
	text-decoration:none;
	display: block;
	padding:8px 1% 42px 1%;

}

.situ_icon{
	box-sizing:border-box;
	width:35px;
	vertical-align:middle;
	float:left;
	margin:0% 10px 2px 0%;
}
.situ_ti{
	box-sizing:border-box;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:1;
	width:92%;
	float:left;
	padding:10px 0px 1px 0px;
	line-height:1.2em;
}











/*特集*/

.tokusyu_new_ko{
	box-sizing:border-box;
	border: #babeba 1px solid;
	margin-top:1%;
	width:100%;
	float:left;
	color:#000;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	background:#fff;
	font-size:11pt;
}

.tokusyu_new_ko a{
	text-decoration:none;
	display: block;
	padding:3%;
	height:150px;
}

.topic_p{
	box-sizing:border-box;
	width:100%;
	height:95px;
	float:left;
	overflow:hidden;
}

.toku_toko{
	box-sizing:border-box;
	padding:5px 0% 3% 0px;
	float:left;
	line-height:1.4em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:3;
	height:55px;
	margin-bottom:8px;
	font-size:9pt;
	letter-spacing:0.03em;
}

.topic1{
	height:150px;
}
.topic2{
	width:250px;
}




/*マイページ*/

#my{
	box-sizing:border-box;
	width:99%;
	float:left;

}
#myicon_waku{
	box-sizing:border-box;
	padding-top:20px;
	float:left;
	width:27%;
	text-align:center;
}
.myicon{
	width:150px;
	height:150px;
	margin:0 auto;

}
#prof_waku{
	box-sizing:border-box;
	padding-top:20px;
	float:left;
	width:73%;
}
table.prof{
	box-sizing:border-box;
	border-spacing:0px;
	width:60%;
	float:left;

}
table.prof tr th{
	font-size: 14px;
	width:100px;
	padding: 5px 10px 5px 0px;
	text-align:right;
	border: #caceca 1px solid;
	color: #8a8a6a;
	background-color: #f0ffdd;
}
table.prof tr td {
	font-size: 14px;
	padding: 5px 0% 5px 10px;
	text-align:left;
	border: #caceca 1px solid;
	background:#fff;
}

#pass{
	background:#eb967b;
	margin:170px 0px 0px 0px;
	width:150px;
	box-sizing:border-box;
	text-align:center;
}
#pass a{

	text-decoration:none;
	padding:15px 10px 15px 10px;
	color:#fff;
	display: block;

}
#pass:hover{
	background:#fba68b;
}






.set{
	width:8%;
	margin-left:33%;
}


#myto{
	box-sizing:border-box;
	width:100%;
	float:left;
	margin-left:1%;
	padding:2% 0% 0% 0%;
	line-height:1.3em;
}
.mytoko{
	box-sizing:border-box;
	margin-top:1%;
	font-size:9pt;
	float:left;
	border-bottom: #caceca 1px solid;
	padding-bottom:1%;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:12;
}
.mytoko2{
	box-sizing:border-box;
	margin-top:1%;
	font-size:9pt;
	float:left;
	border-bottom: #caceca 1px solid;
	padding-bottom:1%;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:7;
}
.toko_p{
	box-sizing:border-box;
	width:100%;
	margin-top:10px;
	height:80px;
	float:left;
	overflow:hidden;
}
.myto_ko{
	box-sizing:border-box;
	width:49%;
	border: #caceca 1px solid;
	margin:2% 1% 0% 0%;
	background:#fff;
	line-height:1.3em;
	float:left;
	-webkit-border-radius: 5px;
	padding-bottom:1%;

}
.myto_ko a{
	text-decoration:none;
	padding:2%;
	display: block;
}


.mysou{
	box-sizing:border-box;
	border: #aaa 1px solid;
	background:#eee;
	float:left;
	letter-spacing:0.3em;
	font-size:10pt;
	width:80px;
	text-align:center;
}
.mysou a{
	box-sizing:border-box;
	padding:7% 0% 7% 5%;
	color:#888;
	text-decoration:none;
	display: block;
}











/*記事投稿*/

.kijiwaku{
	box-sizing:border-box;
	margin:1% 0% 1% 0%;
	padding:1%;
	border: #caceca 1px solid;
	float:left;
}
.kito{
	box-sizing:border-box;
	float:left;
	width:50%;
	margin-right:1%;
}
.kijiti{
	box-sizing:border-box;
	width:100%;
	border: #caceca 1px solid;
	padding:1%;
	font-size:1.3em;
	resize: none;
	float:left;
	color:#555;
	font-family: 'arial', sans-serif;
}
#check{
	box-sizing:border-box;
	width:100%;
	float:left;
	font-size:10pt;
	padding:5px 0px 10px 0px;
}
.toran{
	box-sizing:border-box;
	border: #caceca 1px solid;
	width: 100%;
	height:15em;
	line-height: 1.5em;
	resize: none;
	padding:1%;
	font-size:1em;
	margin-bottom:3%;
	float:left;
	color:#555;
	font-family: 'arial', sans-serif;
}
.kibo{
	box-sizing:border-box;
	float:left;
	margin-right:50%;
}
.ta{
	box-sizing:border-box;
	float:left;
	font-size:10pt;
}
.tata{
	box-sizing:border-box;
	float:left;
	width:80%;
	background: linear-gradient(to right, #f4ffaf 50%, #ffffef 90%);
	color:#667700;
	padding-left:2%;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	font-size:9pt;
	margin-top:3px;
}
.taguwaku{
	box-sizing:border-box;
	width:49%;
	float:left;
	line-height:1.5em;
}
.tawa{
	box-sizing:border-box;
	border: #caceca 1px solid;
	float:left;
	width: 100%;
	padding:1%;
	background:#ffffef;
	-webkit-border-radius: 5px;
}
ul.tagu,ul.tagu2{
	width: 100%;
	box-sizing:border-box;
	float:right;
	list-style-type: none;
	float:left;
	padding-left:1%;
	margin-bottom:1px;
}
ul.tagu li{
	float:left;
	display: block;
	width:33%;
	font-size:8pt;
	color:#9e7f69;
	line-height:1em;
}
ul.tagu2 li{
	float:left;
	display: block;
	width:25%;
	font-size:8pt;
	color:#9e7f69;
}



.sousin{
	box-sizing:border-box;
	border: #aaa 1px solid;
	background:#eee;
	float:right;
	letter-spacing:0.3em;
	font-size:10pt;
	width:10%;
	text-align:center;
}
.sousin a{
	box-sizing:border-box;
	padding:10% 0% 10% 5%;
	color:#888;
	text-decoration:none;
	display: block;
}
.sousin a:hover,.mysou a:hover,.tota :hover{
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
    	opacity: 0.5;
}














/*投稿記事詳細ページ*/


.kisyowa{
	box-sizing:border-box;
	float:left;
	width:90%;
	margin:0px 0px 1% 5%;
	padding:1%;
}
.kipro{
	box-sizing:border-box;
	float:left;
	width:13%;
	text-align:center;
}
.tihibu{
	box-sizing:border-box;
	padding:10px 1% 1% 1%;
	float:right;
	width:86%;
	border: #caceca 1px solid;
	-webkit-border-radius: 10px;
	margin-bottom:2%;
}

.kiti{
	box-sizing:border-box;
	float:left;
	width:100%;
	font-size:14pt;
	margin-top:5px;
}
.day{
	box-sizing:border-box;
	float:left;
	width:100%;
	margin-top:0px;
	text-align:right;
}

.text_kiji{
	box-sizing:border-box;
	float:left;
	height:500px;
	font-size:11pt;
	margin:1% 0% 0% 0%;
	padding:1%;
	border: #caceca 1px solid;
	background:#fff;
	width:100%;
	line-height:1.6em;
	color:#555;
}
.kicon{
	/*width:100%;*/
	margin:0 auto;
	width:125px;
	height:125px;
}
.favowa{
	box-sizing:border-box;
	float:right;
	width:100%;
	border-bottom: #caceca 1px solid;
	padding:5px 0px 5px 0px;
	text-align:left;
}
.fav{
	box-sizing:border-box;
	width:50%;
	float:left;
	text-align:left;
	height:40px;
}
.fav_icon{
	width:30px;
	margin:3px 10px 0px 0px;
}
.sns{
	box-sizing:border-box;
	width:50%;
	float:left;

}
.sns_icon{
	box-sizing:border-box;
	width:40px;
	vertical-align:middle;
	margin-left:5px;

}
.sns_icon_fb{
	box-sizing:border-box;
	width:28px;
	vertical-align:middle;
	margin-left:5px;
}
.totawa{
	box-sizing:border-box;
	float:right;
	width:100%;
	font-size:10pt;
	line-height:1.4em;
}
.tota{
	box-sizing:border-box;
	background:#eaffcf;
	-webkit-border-radius:20px;
	float:left;
	margin:1% 1% 0% 0%;
	border: #c0ed7d 1px solid;
	font-size:8pt;
	color:#6a7f2f;
}
.tota a{
	box-sizing:border-box;
	text-decoration:none;
	-webkit-border-radius:20px;
	display: block;
	padding:1px 10px 1px 10px;
	color:#ff6a7f2f;

}


#komewaku{
	box-sizing:border-box;
	float:left;
	width:100%;
	border-bottom: #caceca 1px solid;
	margin:1% 2% 0% 0%;
	background:#fff;
}
.k{
	border-top:#caceca 1px solid;
	padding-top:20px;
}
.kowa{
	box-sizing:border-box;
	margin-bottom:1%;
	width:100%;
	float:left;
	padding:1%;
}
.kome{
	box-sizing:border-box;
	float:left;
	width:100%;
	border-top: #caceca 1px solid;
	border-left: #caceca 1px solid;
	border-right: #caceca 1px solid;
	background:#fff;
	padding:1%;
}
.koi{
	vertical-align:middle;
	padding-right:1%;
	width:30px;
	height:30px;
}
.coco{
	box-sizing:border-box;
	float:left;
	width:100%;
	padding:1% 0% 1% 0%;
	font-size:9pt;
}
#inkome{
	box-sizing:border-box;
	border: #caceca 1px solid;
	width: 100%;
	height:10em;
	line-height: 1.5em;
	resize: none;
	padding:1%;
	font-size:0.8em;
	margin:3% 0% 1% 0%;
	float:left;
	color:#555;
}





/*特集詳細ページ*/

.tk_kisyowa{
	box-sizing:border-box;
	float:left;
	width:90%;
	margin:0px 0px 1% 5%;
	padding:1%;
	-webkit-border-radius: 10px;
}

.tk_tihibu{
	box-sizing:border-box;
	padding:10px 1% 1% 1%;
	float:right;
	width:100%;
	border: #caceca 1px solid;
	margin-bottom:2%;
	-webkit-border-radius: 10px;
}






/*編集詳細ページ*/

.set_icon{
	float:right;
	width:100%;
}

.set_kisyowa{
	box-sizing:border-box;
	float:left;
	width:90%;
	margin:0px 0px 1% 5%;
	padding:1%;
}

.set_tihibu{
	box-sizing:border-box;
	padding:10px 1% 1% 1%;
	float:right;
	width:100%;
	border: #caceca 1px solid;
	margin-bottom:2%;
	-webkit-border-radius: 10px;
}

.set_kipro{
	box-sizing:border-box;
	float:right;
	width:30px;
	text-align:center;
	margin:0px 5px 5px 5px;
}







/*お気に入り*/

#favoto{
	box-sizing:border-box;
	width:100%;
	margin:0 auto;
}
.danwake{
	box-sizing:border-box;
	width:49%;
	border: #caceca 1px solid;
	margin:2% 1% 0% 0%;
	background:#fff;
	line-height:1.3em;
	float:left;
	-webkit-border-radius: 5px;
	padding-bottom:1%;
}
.danwake2{
	box-sizing:border-box;
	width:49%;
	border: #caeeca 1px solid;
	margin:2% 1% 0% 0%;
	background:#fff;
	line-height:1.3em;
	float:left;
	-webkit-border-radius: 5px;
	padding-bottom:1%;
}
.danwake a,.danwake2 a{
	text-decoration:none;
	padding:2%;
	display: block;

}








/*フッター*/


footer{
	background:#fedfd9;
	color:#ffffff;
}
footer ul{
	width: 100%;
	list-style-type: none;
	padding-top:10px;

}
footer ul li{
	float:left;
	text-align:center;
	display: block;
	width: 20%;
	font-size:9pt;
	color:#9e7f69;
	line-height:1.5em;
}
footer ul li a,footer ul li a:link,footer ul li a:visited{
	color:#9e7f69;
	text-decoration:none;
}
footer p#copy{
	text-align:center;
	font-size:9pt;
	padding:10px;
}











/* 表示画面 */
#stage {
	position: relative;
	max-width: 100%;
	margin:0 auto;
	overflow: hidden;
}
/*全ての写真を水平一列に格納したdiv、#photosに,
スライドショーの animation を設定*/
#photos {
	position:absolute;
	top:0;
	width:100%;
	animation: imgPassToLeft0 30s infinite;
	-webkit-animation: imgPassToLeft0 30s infinite;
}
/*各写真の並び位置を設定
#photo1, #photo2, #photo3, #photo4, #photo5 */
#photo0 { left:  0%; }
#photo1 { left:100%; }
#photo2 { left:200%; }
#photo3 { left:300%; }
#photo4 { left:400%; }
#photo5 { left:500%; }
#photo6 { left:600%; }
.pic { position:absolute;top:0;width:100%; }
/*写真サイズを可変に*/
.pic img { width:100%; }

/* 全てのラジオボタンを非表示に */
#back1,#back2,#back3,#back4,#back5,#next1,#next2,#next3,#next4,#next5{
	display: none;
}
/*送りボタン文字（＜、＞）の設定*/
.b_left span, .b_right span {
	position: absolute;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 40px;
	font-weight: bold;
	opacity:0;
	top: 40%;
	color:#EEE;
}
.b_left span {
	left: 5%;;
}
.b_right span {
	left: 91%;
}
/*ボタン文字hover時の設定*/
.pic:hover > label div span {
	opacity:1;
	color:#EEE;
}
.pic label div span:hover {
	color:#ddd;
	cursor:pointer;
}
/* 各送りボタンクリック時のanimation設定 */
#next1:checked ~ #photos {
	animation: imgPassToLeft1 30s infinite;
	animation-delay: -4.8s;
	-webkit-animation: imgPassToLeft1 30s infinite;
	-webkit-animation-delay: -4.8s;
}
#next2:checked ~ #photos {


	animation: imgPassToLeft2 30s infinite;
	animation-delay: -10.8s;
	-webkit-animation: imgPassToLeft2 30s infinite;
	-webkit-animation-delay: -10.8s;
}
#next3:checked ~ #photos {
	animation: imgPassToLeft3 30s infinite;
	animation-delay: -16.8s;
	-webkit-animation: imgPassToLeft3 30s infinite;
	-webkit-animation-delay: -16.8s;
}
#next4:checked ~ #photos {
	animation: imgPassToLeft4 30s infinite;
	animation-delay: -22.8s;
	-webkit-animation: imgPassToLeft4 30s infinite;
	-webkit-animation-delay: -22.8s;
}
#next5:checked ~ #photos {
	animation: imgPassToLeft5 30s infinite;
	animation-delay: -28.8s;
	-webkit-animation: imgPassToLeft5 30s infinite;
	-webkit-animation-delay: -28.8s;
}
#back1:checked ~ #photos {
	animation: imgPassToRight1 30s infinite;
	animation-delay: -28.8s;
	-webkit-animation: imgPassToRight1 30s infinite;
	-webkit-animation-delay: -28.8s;
}
#back2:checked ~ #photos {
	animation: imgPassToRight2 30s infinite;
	animation-delay: -22.8s;
	-webkit-animation: imgPassToRight2 30s infinite;
	-webkit-animation-delay: -22.8s;
}
#back3:checked ~ #photos {
	animation: imgPassToRight3 30s infinite;
	animation-delay: -16.8s;
	-webkit-animation: imgPassToRight3 30s infinite;
	-webkit-animation-delay: -16.8s;
}
#back4:checked ~ #photos {
	animation: imgPassToRight4 30s infinite;
	animation-delay: -10.8s;
	-webkit-animation: imgPassToRight4 30s infinite;
	-webkit-animation-delay: -10.8s;
}
#back5:checked ~ #photos {
	animation: imgPassToRight5 30s infinite;
	animation-delay: -4.8s;
	-webkit-animation: imgPassToRight5 30s infinite;
	-webkit-animation-delay: -4.8s;
}

/* animation設定 */
@keyframes imgPassToLeft0 {
	0%  { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@keyframes imgPassToLeft1 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@keyframes imgPassToLeft2 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@keyframes imgPassToLeft3 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@keyframes imgPassToLeft4 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@keyframes imgPassToLeft5 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@keyframes imgPassToRight1 {
	0% { left:-500%; }
	16% { left:-500%; }
	20% { left:-400%; }
	36% { left:-400%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-200%; }
	76% { left:-200%; }
	80% { left:-100%; }
	96% { left:-100%; }
	100% { left:0%; }
}
@keyframes imgPassToRight2 {
	0% { left:-500%; }
	16% { left:-500%; }
	20% { left:-400%; }
	36% { left:-400%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-200%; }
	76% { left:-200%; }
	80% { left:-100%; }
	96% { left:-100%; }
	100% { left:0%; }
}
@keyframes imgPassToRight3 {
	0% { left:-500%; }
	16% { left:-500%; }
	20% { left:-400%; }
	36% { left:-400%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-200%; }
	76% { left:-200%; }
	80% { left:-100%; }
	96% { left:-100%; }
	100% { left:0%; }
}
@keyframes imgPassToRight4 {
	0% { left:-500%; }
	16% { left:-500%; }
	20% { left:-400%; }
	36% { left:-400%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-200%; }
	76% { left:-200%; }
	80% { left:-100%; }
	96% { left:-100%; }
	100% { left:0%; }
}
@keyframes imgPassToRight5 {
	0% { left:-500%; }
	16% { left:-500%; }
	20% { left:-400%; }
	36% { left:-400%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-200%; }
	76% { left:-200%; }
	80% { left:-100%; }
	96% { left:-100%; }
	100% { left:0%; }
}
@-webkit-keyframes imgPassToLeft0 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@-webkit-keyframes imgPassToLeft1 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@-webkit-keyframes imgPassToLeft2 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@-webkit-keyframes imgPassToLeft3 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@-webkit-keyframes imgPassToLeft4 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@-webkit-keyframes imgPassToLeft5 {
	0% { left:-100%; }
	16% { left:-100%; }
	20% { left:-200%; }
	36% { left:-200%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-400%; }
	76% { left:-400%; }
	80% { left:-500%; }
	96% { left:-500%; }
	100% { left:-600%; }
}
@-webkit-keyframes imgPassToRight1 {
	0% { left:-500%; }
	16% { left:-500%; }
	20% { left:-400%; }
	36% { left:-400%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-200%; }
	76% { left:-200%; }
	80% { left:-100%; }
	96% { left:-100%; }
	100% { left:0%; }
}
@-webkit-keyframes imgPassToRight2 {
	0% { left:-500%; }
	16% { left:-500%; }
	20% { left:-400%; }
	36% { left:-400%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-200%; }
	76% { left:-200%; }
	80% { left:-100%; }
	96% { left:-100%; }
	100% { left:0%; }
}
@-webkit-keyframes imgPassToRight3 {
	0% { left:-500%; }
	16% { left:-500%; }
	20% { left:-400%; }
	36% { left:-400%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-200%; }
	76% { left:-200%; }
	80% { left:-100%; }
	96% { left:-100%; }
	100% { left:0%; }
}
@-webkit-keyframes imgPassToRight4 {
	0% { left:-500%; }
	16% { left:-500%; }
	20% { left:-400%; }
	36% { left:-400%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-200%; }
	76% { left:-200%; }
	80% { left:-100%; }
	96% { left:-100%; }
	100% { left:0%; }
}
@-webkit-keyframes imgPassToRight5 {
	0% { left:-500%; }
	16% { left:-500%; }
	20% { left:-400%; }
	36% { left:-400%; }
	40% { left:-300%; }
	56% { left:-300%; }
	60% { left:-200%; }
	76% { left:-200%; }
	80% { left:-100%; }
	96% { left:-100%; }
	100% { left:0%; }
}


@media (max-width: 1348px){
#tou2{
	margin:-20% 2% 2% 2%;
	float:right;
}
#tou3{
	float:left;
	margin:10% 2% 2% 5%;
}
#tou4{
	float:right;
	margin:15% 2% 2% 5%;
}

}

@media (max-width: 1318px){

#tou4{
	float:right;
	margin:-15% 2% 2% 5%;
}



@media (max-width: 1276px){
#tou2{
	margin:-20% 2% 2% 2%;
	float:right;
}
#tou3{
	float:left;
	margin:-20% 2% 2% 5%;
}
#tou4{
	float:right;
	margin:-15% 2% 2% 5%;
}
}


@media (max-width: 1144px){
#tou2{
	margin:-15% 2% 2% 2%;
	float:right;
}
#tou3{
	float:left;
	margin:-20% 2% 2% 5%;
}
#tou4{
	float:right;
	margin:-15% 2% 2% 5%;
}
}

@media (max-width: 910px){
#tou2{
	margin:-20% 2% 2% 2%;
	float:right;
}
#tou3{
	float:left;
	margin:-25% 2% 2% 5%;
}
#tou4{
	float:right;
	margin:-20% 2% 2% 5%;
}
}


#photo{
	box-sizing:border-box;
	float:left;
	text-align:left;
	width:100%;
}
.to_img{
	height:150px;
}}
