  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.card.small {
  height: inherit;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 250px;
}
#essay-text {
	margin: 0px;
	height: 500px;
	width: 530px;
}

.md-frame {
	margin: 0px;
	height: 500px;
	width: 530px;
	border-style: ridge;
	overflow: scroll;
}
