body {

}

div.dodai, div.yohaku {  /* ----- new ----- */
	width:100%;
	height:100%;
	margin:0;
}
div.yohaku {
	padding:10px;
}
/*  メインメニュー  */

nav ul li{
	box-sizing:border-box;
	border-top:#26394C 1px solid;
	border-bottom:#26394C 1px solid;
	border-left:#26394C 1px solid;
	width:20%;
	height:35px;
	padding:9px 2px;
	text-align:center;
	float:left;
	font-size:7.5pt;
}
nav ul li:nth-child(1){
	border-left:#000000 0px solid;
}
div#search_in{
	box-sizing:border-box;
	width:200px;
	margin:30px auto;
}

/*  メインメニュー  */


/*  サブメニュー  */

/* 投稿管理 お気に入り */
div.name{
	box-sizing:border-box;
	border:#26394C 1px solid;
	width:10%;
	height:35px;
	float:left;
	text-align:center;
	padding:8px 2px;
	font-size:8pt;
}
article div ul.sub_2{	width:30%;}
article div ul.sub_1{	width:40%;}
article div ul.sub_2, article div ul.sub_1{
	box-sizing:border-box;
	height:35px;
	float:left;
	border-top:#000000 1px solid;
	border-bottom:#000000 1px solid;
}
article div ul.sub_2 li{
	height:35px;
	box-sizing:border-box;
	width:50%;
	list-style: none;
	float:left;
	font-size:9pt;
	padding:8px;
	text-align:center;
}
article div ul.sub_1 li{
	float:left;
	list-style: none;
	height:35px;
	box-sizing:border-box;
	text-align:center;
}
article ul.sub_1 li:nth-child(1){
	width:70%;
	border-right:#000000 1px solid;
	font-size:7pt;
	padding:5px;
}

article ul.sub_1 li:nth-child(2){
	width:30%;
	font-size:9pt;
	padding:5px 8px;
}

article ul.sub_2 li:nth-child(1){
	border-right:#000000 1px solid;
}

article div button{
	box-sizing:border-box;
	float:left;
	margin:10px;	
}
img.icon{
	width:20px;
	height:20px;
	vertical-align:middle;
	margin-right:8px;
}
div#account{display: none;}



ul.act li{
	list-style: none;
	height:35px;
	width:10%;
	padding:5px 2px;
	box-sizing:border-box;
	text-align:center;
	font-size:8.5pt;
	float:left;
	border:#000000 1px solid;
}
/* 投稿管理 お気に入り */


div#tou1 p{
	padding:10px 10px 10px 60px;
}


div#tou1, div#tou2, div#tou3, div#tou4{
	box-sizing:border-box;
	min-height:75px;
	width:85%;
	border:#26394C 2px solid;
	margin:10px auto;
}
div.clear{
	clear:both;
}


div#toku_1, div#toku_2, div#toku_3{
	box-sizing:border-box;
	min-height:60px;
	width:85%;
	border:#26394C 2px solid;
	margin:10px auto;
}
div.toku2{
	box-sizing:border-box;
	min-height:30px;
	width:85%;
	border:#26394C 2px solid;
	margin:10px auto;
}
footer ul li{
	background-color:#ADFF2F;
	font-size:8pt;
	padding:5px;
	text-align:center;
	float:left;
	list-style: none;
	width:25%;
	height:50px;
    box-sizing: border-box;
}
footer p{
	background-color:#ADFF2F;
	font-size:10pt;
	text-align:center;
}

div.tsu{
	text-align:right;
}
div.touko{
	padding:20px;
}
div.tokusyu{
	padding:20px;
}
/*  投稿一覧  */



/*  特集  */
div.minato_new{
	box-sizing:border-box;
	min-height:75px;
	width:85%;
	border:#26394C 2px solid;
	margin:10px auto;
}
div.minato_ki_ko{
	box-sizing:border-box;
	min-height:75px;
	width:85%;
	border:#26394C 2px solid;
	margin:10px auto;
}



/*  ログイン  */
table.Input_form{
 width: 80%;
 border-collapse: collapse;
 margin:50px auto;
}
table.Input_form th{
 width: 40%;
 padding: 6px;
 text-align: left;
 vertical-align: middle;
 color: #333;
 background-color: #eee;
 border: 1px solid #b9b9b9;
}
table.Input_form td{
 padding: 6px;
 background-color: #fff;
 border: 1px solid #b9b9b9;
}
div#agreement{
	box-sizing: border-box;
	width:70%;
	margin:0 auto 30px auto;
	min-height:200px;
}
div#agreement div#btn{
 margin:20px auto;
 width:50%;
 height:50px;
 box-sizing:border-box;
 height:150px;
}
div#agreement div#btn button{
 width:100%;
 height:50px;
 font-size:11pt;
 background:#fedfd9;
 border: #9e7f69 2px solid;
 box-sizing: border-box;
 margin:10px;
}
div#agreement div#btn button a{
 color: #9e7f69;
}
div#agreement div#btn button#entry{	border: #744924 2px solid;}
div#agreement div#btn button#entry a{	color: #744924;}

div.shinkou{
	box-sizing: border-box;
	width:100%;
	height:40px;
	background:#dddddd;
	text-align:center;
}
div#kakunin{	background:#fedfd9;}
div.pankusu_list{
	box-sizing: border-box;
	float:left;
	width:45%;
	height:40px;
	padding:10px;
	border:0;
	color: #9e7f69;
}
div#now{
	color:#fedfd9 !important;
	background:#9e7f69 !important;
}
div#yajirushi{
	box-sizing: border-box;
	float:left;
	width:10%;
	height:40px;
	border-top:#9e7f69 20px solid;
	border-right:#9e7f69 20px solid;
	border-bottom:#9e7f69 20px solid;
	border-left:#dddddd 20px solid;
}
div#yajirushi_1{
	box-sizing: border-box;
	float:left;
	width:10%;
	height:40px;
	border-top:#fedfd9 20px solid;
	border-right:#fedfd9 20px solid;
	border-bottom:#fedfd9 20px solid;
	border-left:#9e7f69 20px solid;
}

/* --- 投稿 --- */
h3{
	margin:20px !important;
}
p.toukou{
	box-sizing:border-box;
	margin:20px;
	width:100%;
	height:auto;
	min-height:30px;
}
textarea{
	margin:0;
	padding:10px;
	width:80%;
	height:300px;
	box-sizing:border-box;
}
input.date{
	width:30px;
	margin-left:10px;
}
button#send{
	width:150px;
	height:40px;
	box-sizing:border-box;
	margin:0 40%;
	padding:6px;
	font-size:10pt;
}
p.toukou button {
	margin:0;
}

/* --- 質問 --- */
div.situ_dai{
	width: 100%;
	height:100%;
}
div.situ_ko{
	box-sizing:border-box;
	margin:10px auto;
	padding:5px;
	width:90%;
	height:auto;
	border:#dddddd 2px solid;
	font-size:9pt;
}
img.situ_icon{
	width:30px;
	height:auto;
	vertical-align:middle;
}
div.page{
	text-align:center;
	width: 80px;
	height:auto;
	margin:10px auto;
}
