
			<div>
				<div id="agreement">
					<h1 id="ok">登録完了しました。</h1>

          <div id="btn">
            <div id="entry">
              <%= link_to "サイトTOPへ", :root %>
            </div>
            <div id="entry2">
                <%= link_to "マイページへ", :mypages %>
            </div>
				</div>