
			<div>
				<div class="shinkou">
					<div class="pankusu_list" id="just">登録事項</div>
					<div id="yajirushi_3"></div>
					<div class="pankusu_list" id="temae">登録内容確認</div>
					<div id="yajirushi"></div>
					<div class="pankusu_list" id="now">登録完了</div>
					<div class="clear"></div>
				</div>
				<div id="agreement">
					<h1 id="ok">登録完了しました。</h1>

          <div id="btn">
            <div id="entry">
              <%= link_to "サイトTOPへ", :root %>
            </div>
            <div id="entry2">
                <%= link_to "マイページへ", :mypages %>
            </div>
				</div>
			</div>
