<h1>ユーザ一覧</h1>

<table>
  <thead>
    <tr>
      <th>氏名</th>
      <th>性別</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.gender %></td>
        <td><%=  link_to '編集', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
