<ul class="collection with-header">
  <li class="collection-header"><h4>あなたの投稿</h4></li>
  <% @my_essays.each do |essay| %>
  <li class="collection-item">
  <a href="/essays/<%= essay.id %>?page=1">
    <span class="title"><%= essay.title.slice(0,10) %></span>
    <p><%= essay.text.slice(0,30) %></p>
  </a>
  </li>
  <% end %>
</ul>