
<% @essaylist.each do |listItem| %>
  <% if listItem.pickup_f == true %>
    <p>id：<%= listItem.id %></p>
    <p>特集？：<%= listItem.pickup_f %></p>

    <p>タイトル：<%= listItem.title %></p>
    <p>内容：<%= listItem.text %></p>
  <% end %>
<% end %>
