    <ul class="collection with-header">
      <li class="collection-header"><h4>お気に入り</h4></li>
      <% @essaylist.each_with_index do |post, i| %>
      <li class="collection-item avatar">
        <%= image_tag(url_for(:controller => 'users',:action => 'image', :id => post.user.id), :class => "circle") %>
        <a href="/essays/<%= post.id%>?page=1">
        <span class=title><%= post.title.slice(0,9) %></span>
        <p><%= post.text.slice(0, 100) %></p>
        </a>
      </li>
      <% end %>
      </ul>