<ul class="collection with-header">
  <li class="collection-header"><h4>ユーザ投稿</h4></li>
  <% @essays.each do |essay| %>
  <li class="collection-item avatar">
    <%= image_tag(url_for(:controller => 'users',:action => 'image', :id => essay.user.id),:class => "circle")%>
    <span class="title">Title</span>
    <p>First Line <br>
       Second Line
    </p>
  </li>
  <% end %>
</ul>
<div class="page">
  <% if !@essays.kind_of?(Array) %>
  <%= will_paginate @essays %>
  <% end %>
</div>