<div class="dodai">
        <div class="yohaku"><a href="/" class="jyun_ima">新着順</a>/<a href="#">人気順</a>
          <div id="situ_dai">
          <% @questions.each do |item| %>
            <div class="situ_ko"><a href="#"><img src="./slime.png" class="situ_icon">
            <%= item.title %></a></div>
        </div>
        <% end %>
      </div>
      </div>
<div class="clear"></div>