<table class="attr">
  <tr>
    <th>タイトル</th>
    <td><%= @essay.title %></td>
  </tr>
  <tr>
    <th>本文</th>
    <td><%= @essay.text %></td>
  </tr>
  <tr>
    <th>作成者</th>
    <td><%= @essay.user.name %></td>
</table>
