<div class="dodai">
  <div class="yohaku">
		<div class="row">
    <% @tags.each do |tags| %>

		<div class="col-md-3">
    <ul class="list-group">
      <% tags.each do |tag| %>
      <li class="list-group-item">
        <a href="/essays/tag?tag_id=<%= tag.id%>"><div><%= tag.name %></div></a>
      </li>
      <% end %>
    </ul>
		</div>

    <% end %>
		</div>
  </div>
</div>
<div class="clear"></div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">